{% extends "layout.html" %}
{% block content %}
    {% from "_render_field.html" import render_field_lr %}
    <div class="content-section">

        <form method="post" action="{{ url_for('user_bp_in.login', next=request.args.get('next')) }}" enctype="multipart/form-data">
                    {{form.csrf_token}}

                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Sign in</legend>
                            {{ render_field_lr(form.email) }}
                            {{ render_field_lr(form.password) }}

                        <div class="form-check">
                            {{ form.remember(class="form-check-input") }}
                            {{ form.remember.label(class="form-check-label") }}
                        </div>

                    </fieldset>

                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-success btn-lg") }}
                    </div>

        </form>
    </div>
{% endblock content %}
