body {
  background: #fafafa;
  color: #002800;
}

h1, h2, h3, h4, h5, h6 {
  color: #001e00;
}

.navbar-nav .nav-link {
  color: #d4d6d7 !important;
}

.navbar-nav .nav-link:hover {
  color: green !important;
  background-color: white !important;
}

.card {
    padding: 10px;
}

.longtext {
    white-space: pre-line;
    text-indent: 1.5em;
    padding: 10px;
}

img.profile {
  width: 30%;
  height: auto;
}

img.profile_little {
  width: 5%;
  height: auto;
}

.weird_table {
    position: absolute;
    bottom: 15px;