{% extends "layout.html" %}
{% block content %}
    <h3>Коротка біографія Любомира Ф.</h3>
    <div class="longtext">Любомир Ф. народився о 4:20 ранку, 19 вересеня 2000 року у пологовому будинку за адресою  вулиця В'ячеслава Чорновола, 51, Івано-Франківськ, Івано-Франківська область, Україна.
        У ранньому віці відвідував садочок "Кобзарик", опісля навчався у школі №12 ім. Івана-Франка.
        За словами класної керівнички - <i>"подавав великі надії у навчанні, хотів стати архітектором, мав здібності у кресленні, однак якогось біса обрав напрям програмування по закінченню 11 класу"</i>.
        Батьки Любомира, у свою чергу кажуть, що він мав природжений талант до програмування - "міг самотужки встановити Windows", швидко знайти в інтернеті яка погода буде за тиждень в Івано-Фрнаківську і без проблем відновити пароль до Однокласників.
        Сам ж Любомир на запитання чому він обрав програмування відповідав без зупину протягом п'яти хвилин, однак через його вимову ми нажаль нічого не змогли розібрати.
        Тим не менш склалося як склалося і він обрав найкращий університет на теренах центрального району міста Івано Франківска і навчання поки йому дається, хоч і не легкою працею.
        Він і досі вірить, що зможе одного дня працювати у престижній IT-компанії, і праюцвати там за спецальністю відмінною від <i>прибиральника</i>. Ну що, сподіваємося що так і буде.
    </div>
{% endblock content %}
