{% extends "layout.html" %}
{% block content %}
    {% from "_render_field.html" import render_field_lr %}
    <div class="content-section">

        <form method="post">
                    {{form.csrf_token}}

                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Password changing</legend>
                            {{ render_field_lr(form.old_password) }}
                            {{ render_field_lr(form.new_password) }}
                            {{ render_field_lr(form.confirm_new_password) }}
                    </fieldset>

                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info btn-lg") }}
                    </div>

        </form>
    </div>
{% endblock content %}
