{% extends "layout.html" %}
{% block content %}
    {% from "_render_field.html" import render_field %}

    <h4>Додати нового працівника:</h4>
    <br>
    <form action="{{ url_for('employee_create') }}" method="POST">
        {{form.csrf_token}}

        {{ render_field(form.name) }}

        {{ form.submit(class="btn btn-success") }}
    </form>

<hr>
    <h4>Список всіх працівників:</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">name</th>
            <th scope="col">delete</th>
        </tr>
      </thead>

      <tbody>
        {% for e in employees %}
        <tr>
            <td>
                <a href="{{url_for('employee_profile', id=e.id)}}" class="link-secondary"> {{ e.name }}</a>
            </td>
            <td>
                <a href="{{url_for('employee_delete', id=e.id)}}" class="btn btn-danger btn-sm"> Видалити </a>
            </td>
       </tr>
       {% endfor %}

      </tbody>
    </table>
{% endblock content %}
