{% extends "layout.html" %}
{% block content %}
    {% from "_render_field.html" import render_field_lr %}
    <div class="content-section">

        <form method="POST" action="{{ url_for('register') }}">
            {{form.csrf_token}}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Зареєструватись</legend>
                    {{ render_field_lr(form.username) }}
                    {{ render_field_lr(form.email) }}
                    {{ render_field_lr(form.password) }}
                    {{ render_field_lr(form.confirm_password) }}
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-success btn-lg") }}
            </div>

        </form>

    </div>

{% endblock content %}
