{% extends "layout.html" %}
{% block content %}
    {% from "_render_field.html" import render_field %}

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{{url_for('category')}}" class="btn btn-success btn-lg fs-5"> Категорії </a>
        <a href="{{url_for('employee_create')}}" class="btn btn-success btn-lg fs-5"> Працівники </a>
    </div>
    <hr>
    <a href="/task/create" class="btn btn-success fs-5"> Створити нове завдання </a>


    <hr>
    <h4>Cписок усіх доданих завдань:</h4>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">title</th>
          <th scope="col">priority</th>
            <th scope="col">category</th>
          <th scope="col">created</th>
            <th scope="col">employee</th>
            <th scope="col">is_done</th>
        </tr>
      </thead>

      <tbody>
        {% for task in all_tasks %}
            <tr>
              <th><a href="{{url_for('task_detail', id=task.id)}}" class="link-dark"> {{ task.title }}</a></th>
              <td>{{ task.priority.name }}</td>
                <td>{{ task.categor.name }}</td>
              <td>{{ task.created.strftime('%Y-%m-%d') | safe}}</td>
                <td>
                    {% for t in task.for_empl %}
                        <a href="{{url_for('employee_profile', id=t.id)}}" class="link-secondary"> {{ t.name }}</a><br>
                    {% endfor %}

                </td>
                <td>{{ task.is_done }}</td>
            </tr>
        {% endfor %}

      </tbody>
    </table>
{% endblock content %}
