{% extends "layout.html" %}
{% block content %}
<h3> Деталі завдання </h3>
  <table class="card">
    <tr>
        <td><b>назва:</b></td>
      <td>{{ task.title }}</td>
    </tr>
    <tr>
      <td><b>опис:</b></td>
      <td>{{ task.description }}</td>
    </tr>
    <tr>
      <td><b>дата створення:</b></td>
      <td>{{ task.created.strftime('%Y-%m-%d') | safe}}</td>
    </tr>
    <tr>
      <td><b>пріоритетність:</b></td>
      <td>{{ task.priority.name }}</td>
    </tr>
    <tr>
      <td><b>категорія:</b></td>
      <td>{{ task.categor.name }}</td>
    </tr>
    <tr>
      <td><b>виконавці:</b></td>
      <td>
        {% for t in task.for_empl %}
          <a href="{{url_for('employee_profile', id=t.id)}}" class="link-secondary"> {{ t.name }}</a><br>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>виконано:</b></td>
      <td>{{ task.is_done }}</td>
    </tr>

  </table>
    <a href="{{url_for('task_delete', id=task.id)}}" class="btn btn-danger fs-5"> Видалити </a>
    <a href="{{url_for('task_update', id=task.id)}}" class="btn btn-info fs-5"> Змінити </a>
{% endblock content %}
